<div class="form-wrapper custom">
  <button class="form-wrapper__close-btn">Close</button>
  <div class="container form-wrapper__container">
    <form data-error="Sorry, an error has occurred:(" novalidate class="form cols">
      <!-- Hidden Required Fields -->
      <input type="hidden" name="project_name" value="Roman Stets">
      <input type="hidden" name="admin_email" value="hello@emotion-agency.com">
      <input type="hidden" name="form_subject" value="Заявка с сайта">
      <!-- END Hidden Required Fields -->
      <span class="form__label cols__col cols__col-s-3 js-form-item">Hello,</span>
      <div class="form__input-wrapper cols__col">
        <label for="name" class="form__label js-form-item">my name is</label>
        <div class="form__input-container">
          <input 
          type="text" 
          id="name" 
          name="name" 
          class="form__input" 
          placeholder="enter your name"
        >
        <div class="form__input-line"></div>
        </div>
      </div>
      <div class="form__input-wrapper cols__col cols__col-s-2">
        <label for="phone" class="form__label js-form-item">call me</label>
        <div class="form__input-container">
          <input 
          type="tel" 
          id="phone" 
          name="phone" 
          class="form__input" 
          placeholder="enter your phone"
        >
        <div class="form__input-line"></div>
        </div>
      </div>
      <span class="form__label cols__col cols__col-s-3 js-form-item">or send</span>
      <div class="form__input-wrapper cols__col">
        <label for="phone" class="form__label js-form-item">an e-mail</label>
        <div class="form__input-container">
          <input 
          type="email" 
          id="email" 
          name="email" 
          class="form__input" 
          placeholder="enter your e-mail*"
        >
          <span class="form__validate-text">incorrect email</span>
          <div class="form__input-line"></div>
        </div>

      </div>
      {{ mixins.btn('send', 'form__btn', 'submit') }}
    </form>
  </div>
</div>