<div class="loader">
  <div class="container loader__container">
    <div class="cols loader__cols">
      <span class="loader__big-text loader__big-text--1 cols__col cols__col-s-2 js-text">Site</span>
      <span class="loader__big-text loader__big-text--2 cols__col cols__col-s-4 js-text">is loading...</span>
      <span class="loader__text cols__col cols__col-s-4 js-p">please, wait<br>few seconds</span>
      <div class="loader__progress" >
        <svg viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path stroke="white" d="
            M 100, 100
            m -100, 0
            a 100,100 0 0,0 200,0
            a 100,100 0 0,0 -200,0"/>
        </svg>
        <span class="loader__percent">0%</span>
      </div>
    </div>
  </div>
</div>