<div class="nav">
  <div class="container nav__container">
    <div class="nav__left">
      <ul class="nav__items">
        <li class="nav__item nav__item--1">
          <a href="#" class="nav__link">Home</a>
        </li>
        <li class="nav__item nav__item--2">
          <a href="#" class="nav__link">About</a>
        </li>
        <li class="nav__item nav__item--3">
          <a href="#" class="nav__link">Works</a>
        </li>
        <li class="nav__item nav__item--4">
          <a href="#" class="nav__link">Contacts</a>
        </li>

      </ul>
    </div>
    <div class="nav__right">
      <img src="./img/nav.jpg" alt="nav.img">
    </div>
  </div>
</div>