<nav class="nav js-nav">
  <div class="container nav__container">
    <div class="nav__left">
      <ul class="nav__items">
        <li class="nav__item nav__item--1 js-nav-item">
          <a data-transition="nav" href="./" class="nav__link">Home</a>
          <span class="nav__num">01</span>
        </li>
        <li class="nav__item nav__item--2 js-nav-item">
          <a data-transition="nav" href="./about.html" class="nav__link">About</a>
          <span class="nav__num">02</span>
        </li>
        <li class="nav__item nav__item--3 js-nav-item">
          <span class="nav__separator">/&nbsp;</span>
          <a data-transition="nav" href="./works.html" class="nav__link">Works</a>
          <span class="nav__num">03</span>
        </li>
        <li class="nav__item nav__item--4 js-nav-item">
          <a data-transition="nav" href="./contacts.html" class="nav__link">Contacts</a>
          <span class="nav__num">04</span>
        </li>
      </ul>
    </div>
    <div class="nav__right">
      {# <img src="./img/nav.jpg" alt="nav.img"> #}
    </div>
  </div>
</nav>