:root {
  --black: #222222;
  --accent: #2e54b7;
  --lg: #f1f1f1;
  --accent2: linear-gradient(179.9deg, #2e54b7 -9.86%, #a04af7 99.91%);
  --accent3: #315ccb;
  --g-offset: 2.08vw;
  --red: #e73737;
  @media screen and (max-width: 1024px) {
    --g-offset: 20px;
  }
}

//colors
$black: var(--black);
$accent: var(--accent);
$lg: var(--lg);
$accent2: var(--accent2);
$accent3: var(--accent3);
$red: var(--red);

//screen config
$maxWidth: 1920;
$minWidth: 375;

//breakpoints
$br1: 1060px;
$br2: 1024px;
$br3: 768px;
$br4: 460px;

//fonts
$def-size: size(24, 16);

//easings
$easing: cubic-bezier(0.16, 1, 0.3, 1);

// layouts
$g-offset: var(--g-offset);
