.footer {
  height: var(--vh);
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.footer__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__bottom {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.footer__line {
  width: 100%;
  height: 2px;
  background: var(--secondary);
  @include bt;
  margin-bottom: 12px;
  
}

.footer__cols {
  align-items: baseline;
  @include media('<=#{$br2}') {
    display: flex;
    justify-content: space-between;
  }
}

.footer__copyright {
  font-size: 0.8vw;
  width: fit-content;
  line-height: 1em;
  @include media('<=#{$br2}') {
    font-size: 16px;
  }
}

.footer__link  {
  font-size: 1.1vw;
  line-height: 1em;
  width: fit-content;
  &--2 {
    grid-row-start: 1;
    grid-row-end: 1;
  }
  @include media('<=#{$br2}') {
    display: none;
  }
}

.footer__made-by {
  grid-row-start: 1;
  width: fit-content;
  grid-row-end: 1;
  justify-self: end;
  font-size: 0.8vw;
  color: #284A9F;
  line-height: 1em;
  @include media('<=#{$br2}') {
    font-size: 16px;
  }
}

[data-theme=e-black] {
  .footer__made-by {
    color: white;
  } 
}