@mixin ft() {
  @include h;
  text-transform: uppercase;
  font-size: 7vw;
  line-height: 1em;
}

.form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  z-index: 99;
}

.form-wrapper__container {
  height: 100%;
  display: flex;
  align-items: center;
}

.form {
  position: relative;
}

.form__label {
  @include ft;
}

.form__btn {
  position: absolute;
  right: 0;
  bottom: -5vw;
  opacity: 0;
}

.form__input-wrapper {
  display: flex;
  align-items: baseline;
}

.form-wrapper__close-btn {
  @include hreg;
  font-size: 0.9em;
  line-height: 1em;
  color: inherit;
  display: flex;
  position: relative;
  align-items: center;
  position: absolute;
  right: $g-offset;
  top: 3%;
  z-index: 100;
  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--secondary);
    margin-right: 10px;
    margin-top: -0.3vw;
    opacity: 0;
    transform: translateX(15px) scale(0.1);
    transition: opacity .4s ease, transform .4s ease;
  }
  &:hover {
    &::before {
      opacity: 1;
      transform: translateX(0px) scale(1);
    }
  }
}

.form__input {
  background-color: transparent;
  opacity: 0;
  border-bottom: 1px solid #C4C4C4;
  flex-grow: 1;
  margin-left: 1.25vw;
  padding-left: 2.08vw;
  padding-bottom: 0.41vw;
  position: relative;
  top: -12px;
  transition: border-color .3s ease;
  &:focus {
    border-color: $accent;
  }
}

.form-thankyou {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  color: white;
  visibility: hidden;
}

.form-thankyou__text {
  @include ft;
  line-height: 1.3em;
  overflow: hidden;
}

.form-thankyou__container {
  height: 100%;
  display: flex;
  align-items: center;
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $black;
  box-shadow: 0 0 0px 1000px $lg inset;
  transition: background-color 5000s ease-in-out 0s;
}

[data-theme=e-black] {
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0px 1000px $black inset;
  transition: background-color 5000s ease-in-out 0s;
}
}

.js-form-item {
    display: inline-block;
    overflow: hidden;
    line-height: 1em;
    perspective: 1000px;
    .char {
      display: inline-block;
      transform: translateY(110%) rotateX(60deg);
    }
}

