.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  // background: var(--primary2);
  // display: none;
}

.loader__container {
  height: 100%;
  display: flex;
  align-items: center;
}

.loader__cols {
  margin-top: -12vh;
  @include media('<=#{$br2}') {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.loader__big-text {
  @include h1;
  perspective: 1000px;
  display: inline-block;
  overflow: hidden;
  line-height: 1em;
  &--2 {
    margin-top: 4vh;
  }
  .char {
    display: inline-block;
  }
  @include media('<=#{$br2}') {
    flex: 1 0 100%;
    &--2 {
      flex: 1 0 100%;
      text-align: end;
    }
  }
}

.loader__text {
  margin-top: 1.64vw;
  display: inline-block;
}

.loader__progress {
  width: 50.3vh;
  height: 50.3vh;
  // border-radius: 50%;
  // border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 6.4vh;
  left: 7.06%;
  svg {
    width: 100%;
    height: 100%;
    display: block;
    transform: rotate(90deg);
    path {
      stroke-dasharray: 628.4071044921875;
      stroke-dashoffset: 628.4071044921875;
      transform: translate(1px, 1px);
    }
  }
  @include media('<=#{$br2}') {
    width: size(544, 209);
    height: size(544, 209);
    position: static;
    margin-top: 20px;
    flex: 1 0 40%;
  }
}

.loader__percent {
  @include h;
  font-size: 16vh;
  line-height: 1em;
  position: absolute;
  @include media('<=#{$br2}') {
    font-size: size(200, 42);
  }
}

.loader__text {
  @include media('<=#{$br2}') {
    flex: 0 1 40%;
  }
}