.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  // background: var(--primary2);
  visibility: hidden;
}

.nav__container {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 4.2vw;
  @include media('<=#{$br2}') {
    padding-bottom: 36px;
  }
}

.nav__left {
  width: 42.1875vw;
}
.nav__items {
  display: grid;
  grid-template-columns: 18.125vw 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  @include media('<=#{$br2}') {
    grid-template-columns: 11.5em 1fr;
  }
  @include media('<=#{$br3}') {
    grid-template-columns: 9.5em 1fr;
  }
  @include media('<=#{$br4}') {
    grid-template-columns: 8.5em 1fr;
  }
  @include media('<=360px') {
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
.nav__item {
  @include h;
  font-size: 5vw;
  display: flex;
  width: fit-content;
  line-height: 1.1em;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  white-space: nowrap;
  color: var(--secondary);
  transition: color .4s ease;
  &:hover, &.is-active {
    color: $accent;
  }
  &--2 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  &--3 {
    grid-column-start: 2;
    grid-column-end: 2;
    @include media('<=360px') {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
  @include media('<=#{$br2}') {
    font-size: size(100, 42);
  }
  &.is-active {
    pointer-events: none;
  }
}

.nav__separator {
  display: inline-block;
  color: var(--secondary);
  opacity: 0;
  @include ct;
  @include media('<=360px') {
    display: none;
  }
}

.nav__num {
  display: block;
  position: absolute;
  top: -12px;
  right: -20px;
  font-size: 0.8vw;
  line-height: 1em;
  @include reg;
  opacity: 0;
  @include media('<=#{$br2}') {
   font-size: size(16, 12);
   right: -12px;
  }
}

.nav__right {
  width: 28.75vw;
  height: 63.3vh;
  overflow: hidden;
  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(110%) rotate(-20deg);
  }
}

.js-nav-item {
  a {
    display: inline-block;
    overflow: hidden;
    line-height: 1em;
    perspective: 1000px;
    .char {
      display: inline-block;
      transform: translateY(110%) rotateX(60deg);
    }
  }
}

