.scrollbar {
  position: fixed;
  right: 0;
  bottom: 2px;
  z-index: 10000000 !important;
  height: var(--vh);
  width: 12px;
  user-select: none;
  overflow: hidden;
  @include media('>=#{$br2}') {
    &:hover {
      .scrollbar__thumb {
        width: 10px;
        opacity: .7;
        border-radius: 10px;
        background-color: $accent;
      }
    }
  }
  &.hidden {
    display: none;
  }
  // @include media('<=1024px') {
  //   display: none;
  // }
}

.scrollbar__thumb {
  width: 6px;
  border-radius: 7px;
  pointer-events: none;
  height: 100px;
  background: #6b6b6b;
  display: block;
  position: absolute;
  user-select: none;
  margin-right: 2px;
  margin-top: 4px;
  transition: width .2s ease, opacity 0.3s ease, border-radius 0.3s ease, background-color .3s ease;
  right: 0;
  opacity: 0;
  &.scrolling {
    opacity: 0.7;
  }
  &.active {
    width: 10px;
    opacity: .7;
    border-radius: 10px;
    background-color: $accent;
  }
}
