{% set title = "Cases" %}
{% set route = "cases" %}
{% extends "layouts/_layout.html" %}
{% import "data/data.html" as items %}

{% block content %}
  <header data-visible="hide" class="header cases-header js-i-hidden">
    <div class="cases-header__imgs-wrapper">
      {% for item in items.cases %}
        <div 
          style="opacity:0;display:none" 
          class="cases-header__img img js-webgl-image hide-cursor" 
          data-pli 
          data-bg="{{item.img}}"
        ></div>
      {% endfor %}
    </div>
    <div class="cases-header__cases js-st">
      <div class="cases-header__strips">
        {% for i in range(0, 2) -%}
          <div class="cases-header__strip">
            {% for item in items.cases %}
              <a
              data-index="{{item.index}}"
              data-transition="distort"
              href="./{{item.page}}.html" 
              class="cases-header__strip-item hide-cursor"
              >
                  {{item.strip|safe}}
                <span class="cases-header__strip-item-num">&nbsp;0{{item.index}}</span>
              </a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </header>
  {% endblock %}