{% set title = "Cases" %}
{% set route = "cases" %}
{% extends "layouts/_layout.html" %}

{% block content %}
  <header data-visible="hide" class="header cases-header js-i-hidden">
    <div class="cases-header__bg-text-wrapper">
      <h1 class="h1 cases-header__bg-text js-l">My works</h1>
    </div>
    <div class="container cases-header__container">
      <div class="cases-header__cases js-i">
        <div class="cases-header__strip">
          <div class="cases-header__items-wrapper">
            <div class="cases-header__items">
              <div class="cases-header__item" data-pli data-bg="./img/posters/1.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/3.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/2.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/4.jpg"></div>
            </div>
            <div class="cases-header__items">
              <div class="cases-header__item" data-pli data-bg="./img/posters/1.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/3.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/2.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/4.jpg"></div>
            </div>
          </div>
        </div>
        <div class="cases-header__strip">
          <div class="cases-header__items-wrapper">
            <div class="cases-header__items">
              <div class="cases-header__item" data-pli data-bg="./img/posters/5.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/6.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/7.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/8.jpg"></div>
            </div>
            <div class="cases-header__items">
              <div class="cases-header__item" data-pli data-bg="./img/posters/5.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/6.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/7.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/8.jpg"></div>
            </div>
          </div>
        </div>
        <div class="cases-header__strip mob-hidden">
          <div class="cases-header__items-wrapper">
            <div class="cases-header__items">
              <div class="cases-header__item" data-pli data-bg="./img/posters/1.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/2.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/3.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/4.jpg"></div>
            </div>
            <div class="cases-header__items">
              <div class="cases-header__item" data-pli data-bg="./img/posters/1.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/2.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/3.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/4.jpg"></div>
            </div>
          </div>
        </div>
        <div class="cases-header__strip mob-hidden">
          <div class="cases-header__items-wrapper">
            <div class="cases-header__items">
              <div class="cases-header__item" data-pli data-bg="./img/posters/6.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/5.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/8.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/7.jpg"></div>
            </div>
            <div class="cases-header__items">
              <div class="cases-header__item" data-pli data-bg="./img/posters/6.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/5.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/8.jpg"></div>
              <div class="cases-header__item" data-pli data-bg="./img/posters/7.jpg"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}