{% set title = "Contacts | Roman Stets. Send a request or call me" %}
{% set route = "contacts" %}
{% extends "layouts/_layout.html" %}

{% import "data/data.html" as items %}
{% block content %}
  <header data-visible="hide" class="header contacts-header js-i-hidden">
    <div class="container contacts-header__container">
        <h2 class="h2 h2-withcols cols__col cols__col-end-6 a-h">
          <span class="container nm">
            <span class="cols">
              <span class="h2-withcols__line cols__col js-l">
              Are you ready
          </span>
              <span class="h2-withcols__line cols__col cols__col-s-4 js-l it">
             to start?
            </span>
            </span>
          </span>
        </h2>
        <div class="container nm">
        <div class="cols contacts-header__cols">
          {{ mixins.btn('Start a project', 'contacts-header__btn cols__col js-i js-fo') }}
          <a target='_blank' rel='noopener noreferrer' href="https://www.facebook.com/rstetsr" class="contacts-header__item cols__col cols__col-s-4 cols__col-end-5 js-i">facebook</a>
          <a target='_blank' rel='noopener noreferrer' href="https://www.instagram.com/stets.roman96/" class="contacts-header__item cols__col cols__col-s-4 cols__col-end-5 js-i">instagram</a>
          <a target='_blank' rel='noopener noreferrer' href="https://t.me/Roman_Stets" class="contacts-header__item cols__col cols__col-s-4 cols__col-end-5 js-i">Telegram</a>
          <a href="tel:+380970422959" class="contacts-header__item cols__col cols__col-s-5 cols__col-end-6 js-i">+38 (097) 042 2959</a>
          <a href="mailto:stets.roman96@gmail.com" class="contacts-header__item cols__col cols__col-s-5 cols__col-end-6 js-i">stets.roman96@gmail.com</a>
      </div>
      </div>
    </div>
  </header>
{% endblock %}