{% set title = "Contacts" %}
{% set route = "contacts" %}
{% extends "layouts/_layout.html" %}

{% import "data/data.html" as items %}
{% block content %}
  <header class="header contacts-header js-i-hidden">
    <div class="container contacts-header__container">
        <h2 class="h2 h2-withcols cols__col cols__col-end-6 a-h">
          <span class="container nm">
            <span class="cols">
              <span class="h2-withcols__line cols__col js-l">
              Are you ready
          </span>
              <span class="h2-withcols__line cols__col cols__col-s-4 js-l it">
             to start?
            </span>
            </span>
          </span>
        </h2>
        <div class="container nm">
        <div class="cols contacts-header__cols">
          {{ mixins.btn('Start a project', 'contacts-header__btn cols__col js-i js-fo') }}
          <a href="#" class="contacts-header__item cols__col cols__col-s-4 cols__col-end-5 js-i">facebook</a>
          <a href="#" class="contacts-header__item cols__col cols__col-s-4 cols__col-end-5 js-i">instagram</a>
          <a href="#" class="contacts-header__item cols__col cols__col-s-4 cols__col-end-5 js-i">Telegram</a>
          <a href="#" class="contacts-header__item cols__col cols__col-s-5 cols__col-end-6 js-i">+380 (097) 536 3101</a>
          <a href="#" class="contacts-header__item cols__col cols__col-s-5 cols__col-end-6 js-i">stets.roman96@gmail.com</a>
      </div>
      </div>
    </div>
  </header>
{% endblock %}