{% set title = "Main" %}
{% set route = "home" %}
{% extends "layouts/_layout.html" %}

{% import "data/data.html" as items %}
{% block content %}
  <header class="home-header">
    <div class="container home-header__container">
      <h1 class="h1 home-header__h1 h1-withcols">
        <span class="container nm">
          <span class="cols">
          <span class="mob-img-c"></span>
            <span
            class="h1-withcols__line h1-withcols__line--first-line cols__col js-l"
            >I am Roman Stets,</span
          >
            <span class="h1-withcols__img inline-img js-i" data-move="mob-img-c,1,960">
              <img class="inline-img__img inline-img__img--1" data-pli src="./img/home/header.gif" alt="cat-gif"/>
              <img class="inline-img__img inline-img__img--2" data-pli src="./img/home/header2.gif" alt="cat-gif"/>
              <span class="inline-img__text-wrapper">
              <span class="inline-img__text inline-img__text--1">don’t hover this shit</span>
              <span class="inline-img__text inline-img__text--2">I told you</span>
              </span>
            </span>
            <span
            class="h1-withcols__line h1-withcols__line--second-line cols__col cols__col-s-4 js-l"
          >
            copywriter
          </span>
            <span
            class="h1-withcols__line h1-withcols__line--third-line cols__col js-l"
            >and co-founder of</span
          >
            <span
            class="h1-withcols__line h1-withcols__line--fourth-line cols__col js-l it"
          >
              <a
              target="_blank"
              rel="noreferer noopener"
              href="https://emotion-agency.com"
              >emotiON agency</a
            >
            </span>
          </span>
        </span>
      </h1>
    </div>
  </header>
  <main>
    <section class="section positioning-section">
      <div class="container positioning-section__container section__container">
        <h2 class="h2 h2-withcols a-h">
          <span class="container nm">
            <span class="cols">
              <span class="h2-withcols__line cols__col js-l">
              I work with <span class="it">companies</span>
              </span>
              <span class="h2-withcols__line cols__col cols__col-s-2 js-l">
              and <span class="it">brands</span> as a
            </span>
              <span class="h2-withcols__line cols__col js-l"
              >private specialist on a</span
            >
              <span class="h2-withcols__line cols__col cols__col-s-4 js-l it"
              >project basis.</span
            >
            </span>
          </span>
        </h2>
        {{ mixins.link('more about me', 'positioning-section__btn js-i a-i') }}
        <div class="container nm">
          <div class="cols positioning-section__cols">
            <p
            class="positioning-section__p cols__col cols__col-s-4 cols__col-end-5 js-i a-i"
          >
            I write texts for websites, social networks, blogs and media
          </p>
            <p
            class="positioning-section__p cols__col cols__col-s-4 cols__col-end-5 js-i a-i"
          >
            I create concepts for sites, web services, mobile applications
          </p>
            <p
            class="positioning-section__p positioning-section__p--long cols__col cols__col-s-5 cols__col-end-6 js-i a-i"
          >
            Coming up with ideas for launching and promoting products in the
            Internet
          </p>
          </div>
        </div>
      </div>
    </section>
    <section class="section phiposophy-section">
      <div class="container section__container">
        <div class="container nm phiposophy-section__h2-container">
          <div class="cols">
            <h2 class="h2 cols__col cols__col-s-4 js-l a-h">Phiposophy</h2>
          </div>
        </div>
        <div class="phiposophy-section__items">
          <div class="phiposophy-section__item phiposophy-section__item--first js-i a-i">
          Text alone will not solve a business problem. Need an idea in which
          people recognize themselves, their lives or situations.
        </div>
          <div class="phiposophy-section__item phiposophy-section__item--second js-i a-i">
          I write useful texts that explain to people the essence of a service
          or product.
        </div>
          <div class="phiposophy-section__item phiposophy-section__item--third js-i a-i">
          First of all — I'm an entrepreneur <br/><br/>
          Additional specializations are project manager and a little marketer.
          There is also a higher education — «International Economics» &
          «Marketing».
        </div>
          <div class="phiposophy-section__item phiposophy-section__item--fourth js-i a-i">
          I believe that it is necessary to evaluate the work of a copywriter by
          the ideas that he generates and how he embodies in the text the
          meanings transmitted by the business.
        </div>
        </div>
      </div>
    </section>
    <section class="section join-section">
      <div class="container section__container">
        <div class="section__line js-i a-l"></div>
        <h2 class="h2 h2-withcols a-h">
          <span class="container nm">
            <span class="cols">
              <span class="h2-withcols__img js-i">
                <img data-pli src="./img/home/join.gif" alt="boy-gif"/>
              </span>
              <span class="h2-withcols__line cols__col cols__col-s-4 js-l"
              >I join the</span
            >
              <span class="h2-withcols__line cols__col js-l it">project at</span>
              <span class="h2-withcols__line cols__col js-l">any stage</span>
            </span>
          </span>
        </h2>
        <div class="container nm">
          <div class="cols join-section__cols">
            <p class="join-section__p cols__col cols__col-s-4 cols__col-end-4 js-i a-i">
            But it will be great if we start cooperation at the idea stage: it
            will help me dive deeper into the problem to find the best solution.
          </p>
            <p class="join-section__p join-section__p--long cols__col cols__col-s-5 cols__col-end-5 js-i a-i">
            The unexpected truth about yourself is what attracts your customers.
            I help find these meanings, pack them into text and convey to the
            right people.
          </p>
          </div>
        </div>
        <div class="container nm">
          <div class="cols join-section__btn-cols">
            {{ mixins.btn('talk about project', 'join-section__btn cols__col cols__col-s-4 js-i js-fo a-i') }}
          </div>
        </div>
      </div>
    </section>
    <section class="section cases-section">
      <div class="container section__container">
        <div class="section__line cases-section__line js-i a-l"></div>
        <div class="cases-section__text">
          <h2 class="h2 js-l a-h">my works</h2>
          <p class="js-i a-i">My portfolio is diverse. There are landing page texts, SEO-optimized corporate blog articles, presentations, social media posts, and sales pitch.</p>
        </div>
        <div class="container nm">
          <div class="cols cases-section__items">
            <div class="cases-section__separator cols__col cols__col-s-4 cols__col-end-4 js-i a-i"></div>
            <a href="#" class="cases-section__item cases-section__item--1 cols__col cols__col-end-3 a-i">
              <img class="js-webgl-image" data-pli src="./img/posters/1.jpg" alt="portfolio-img">
            </a>
            <a href="#" class="cases-section__item cases-section__item--2 cols__col cols__col-s-4 cols__col-end-4 a-i">
              <img class="js-webgl-image" data-pli src="./img/posters/2.jpg" alt="portfolio-img">
            </a>
            <a href="#" class="cases-section__item cases-section__item--3 cols__col cols__col-s-5 cols__col-end-6 a-i">
              <img class="js-webgl-image" data-pli src="./img/posters/6.jpg" alt="portfolio-img">
            </a>
          </div>
          <div class="cols cases-section__items">
            {{ mixins.link('more projects', 'cases-section__btn cols__col cols__col-s-4 js-i') }}
            <a href="#" class="cases-section__item cases-section__item--1 cols__col cols__col-end-3 a-i m-hide">
              <img class="js-webgl-image" data-pli src="./img/posters/5.jpg" alt="portfolio-img">
            </a>
            <a href="#" class="cases-section__item cases-section__item--2 cols__col cols__col-s-4 cols__col-end-4 a-i m-hide">
              <img class="js-webgl-image" data-pli src="./img/posters/4.jpg" alt="portfolio-img">
            </a>
            <a href="#" class="cases-section__item cases-section__item--3 cols__col cols__col-s-5 cols__col-end-6 a-i m-hide">
              <img class="js-webgl-image" data-pli src="./img/posters/8.jpg" alt="portfolio-img">
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer home__footer">
    <div class="container footer__container nm">
      <div class="strips js-i">
        <div class="strip strip--white">
          <div class="strip__wrapper">
            <div class="strip__item">&nbsp;/ Get in <span class="it">touch</span></div>
            <div class="strip__item">&nbsp;/ Get in <span class="it">touch</span></div>
            <div class="strip__item">&nbsp;/ Get in <span class="it">touch</span></div>
            <div class="strip__item">&nbsp;/ Get in <span class="it">touch</span></div>
          </div>
        </div>
        <div class="strip strip--blue">
          <div class="strip__wrapper">
            <div class="strip__item">&nbsp;/ Get in <span class="it">touch</span></div>
            <div class="strip__item">&nbsp;/ Get in <span class="it">touch</span></div>
            <div class="strip__item">&nbsp;/ Get in <span class="it">touch</span></div>
            <div class="strip__item">&nbsp;/ Get in <span class="it">touch</span></div>
          </div>
        </div>
      </div>
      {{ mixins.btn('send a request', 'footer__btn js-i js-fo') }}
    </div>

    <div class="footer__bottom js-i">
      <div class="container">
        <div class="footer__line"></div>
        <div class="footer__items">
          <div class="container nm">
            <div class="cols footer__cols">
              <span class="footer__copyright cols__col cols__col-end-3">Roman Stets (c) 2020</span>
              <a href="#" class="footer__link cols__col cols__col-s-4 cols__col-end-4">facebook</a>
              <a href="#" class="footer__link footer__link--2 cols__col cols__col-s-5 cols__col-end-5">instagram</a>
              <a href="#" class="footer__made-by cols__col cols__col-s-5">by emotion</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
{# <div id="gl"></div> #}
{% endblock %}