{% set title = "Main" %}
{% set route = "home" %}
{% extends "layouts/_layout.html" %}

{% import "data/data.html" as items %}
{% block content %}
  <header data-visible="hide" data-section-parallax="0.2" class="home-header js-i-hidden">
    <div class="container home-header__container">
      <h1 class="h1 home-header__h1 h1-withcols">
        <span class="container nm">
          <span class="cols">
            <span class="mob-img-c"></span>
            <span
            class="h1-withcols__line h1-withcols__line--first-line cols__col js-l">
            I am Roman Stets,
            </span>
            <span class="h1-withcols__img inline-img js-i" data-move="mob-img-c,1,960">
              <video webkit-playsinline="" playsinline="" muted autoplay loop="true" class="inline-img__img inline-img__img--1">
                <source src="./video/home/header.webm" type="video/webm">
                <source src="./video/home/header.mp4" type="video/mp4">
              </video>
              <span class="inline-img__text-wrapper">
                <span class="inline-img__text inline-img__text--1">don’t hover this shit</span>
                <span class="inline-img__text inline-img__text--2">I told you</span>
              </span>
            </span>
            <span class="h1-withcols__line h1-withcols__line--second-line cols__col cols__col-s-4 js-l">
            copywriter
          </span>
            <span class="h1-withcols__line h1-withcols__line--third-line cols__col js-l">
            and co-founder of
            </span>
            <span class="h1-withcols__line h1-withcols__line--fourth-line cols__col js-l it">
              <a
              target="_blank"
              rel="noreferer noopener"
              href="https://emotion-agency.com"
              >emotiON agency</a>
            </span>
          </span>
        </span>
      </h1>
    </div>
  </header>
  <main>
    <section data-scene data-speed="1" class="section positioning-section">
      <div class="container positioning-section__container section__container">
        <h2 class="h2 h2-withcols a-h">
          <span class="container nm">
            <span class="cols">
              <span class="h2-withcols__line cols__col js-l">
              I work with <span class="it">companies</span>
              </span>
              <span class="h2-withcols__line cols__col cols__col-s-2 js-l">
              and <span class="it">brands</span> as a
            </span>
              <span class="h2-withcols__line cols__col js-l"
              >private specialist on a</span
            >
              <span class="h2-withcols__line cols__col cols__col-s-4 js-l it"
              >project basis.</span
            >
            </span>
          </span>
        </h2>
        {{ mixins.link('more about me', 'positioning-section__btn js-i a-i', href = "./about.html",
            data = 'data-parallax="0.2"') }}
        <div class="container nm">
          <div class="cols positioning-section__cols">
            <p
            class="positioning-section__p cols__col cols__col-s-4 cols__col-end-5 js-i a-i"
          >
            I write texts for websites, social networks, blogs and media
          </p>
            <p
            class="positioning-section__p cols__col cols__col-s-4 cols__col-end-5 js-i a-i"
          >
            I create concepts for sites, web services, mobile applications
          </p>
            <p
            class="positioning-section__p positioning-section__p--long cols__col cols__col-s-5 cols__col-end-6 js-i a-i"
          >
            Coming up with ideas for launching and promoting products in the
            Internet
          </p>
          </div>
        </div>
      </div>
    </section>
    <section data-scene data-speed="1" class="section phiposophy-section">
      <div class="container section__container">
        <div class="container nm phiposophy-section__h2-container">
          <div class="cols">
            <h2 class="h2 cols__col cols__col-s-4 js-l a-h">Phiposophy</h2>
          </div>
        </div>
        <div class="phiposophy-section__items">
          <div class="phiposophy-section__item phiposophy-section__item--first js-i a-i">
          Text alone will not solve a business problem. Need an idea in which
          people recognize themselves, their lives or situations.
        </div>
          <div class="phiposophy-section__item phiposophy-section__item--second js-i a-i">
          I write useful texts that explain to people the essence of a service
          or product.
        </div>
          <div class="phiposophy-section__item phiposophy-section__item--third js-i a-i">
          First of all — I'm an entrepreneur <br/><br/>
          Additional specializations are project manager and a little marketer.
          There is also a higher education — «International Economics» &
          «Marketing».
        </div>
          <div class="phiposophy-section__item phiposophy-section__item--fourth js-i a-i">
          I believe that it is necessary to evaluate the work of a copywriter by
          the ideas that he generates and how he embodies in the text the
          meanings transmitted by the business.
        </div>
        </div>
      </div>
    </section>
    <section data-scene data-speed="1" class="section join-section">
      <div class="container section__container">
        <div class="section__line js-i a-l"></div>
        <h2 class="h2 h2-withcols a-h">
          <span class="container nm">
            <span class="cols">
              <span class="h2-withcols__img js-i">
                <video webkit-playsinline="" playsinline="" autoplay muted loop="true">
                <source src="./video/home/join.webm" type="video/webm">
                <source src="./video/home/join.mp4" type="video/mp4">
              </video>
              </span>
              <span class="h2-withcols__line cols__col cols__col-s-4 js-l"
              >I join the</span
            >
              <span class="h2-withcols__line cols__col js-l it">project at</span>
              <span class="h2-withcols__line cols__col js-l">any stage</span>
            </span>
          </span>
        </h2>
        <div class="container nm">
          <div class="cols join-section__cols">
            <p class="join-section__p cols__col cols__col-s-4 cols__col-end-4 js-i a-i">
            But it will be great if we start cooperation at the idea stage: it
            will help me dive deeper into the problem to find the best solution.
          </p>
            <p class="join-section__p join-section__p--long cols__col cols__col-s-5 cols__col-end-5 js-i a-i">
            The unexpected truth about yourself is what attracts your customers.
            I help find these meanings, pack them into text and convey to the
            right people.
          </p>
          </div>
        </div>
        <div class="container nm">
          <div class="cols join-section__btn-cols">
            {{ mixins.btn('talk about project', 'join-section__btn cols__col cols__col-s-4 js-i js-fo a-i', 
            data = 'data-parallax="0.2"') }}
          </div>
        </div>
      </div>
    </section>
    <section data-scene data-speed="1" class="section cases-section">
      <div class="container section__container">
        <div class="section__line cases-section__line js-i a-l"></div>
        <div class="cases-section__text">
          <h2 class="h2 js-l a-h">my works</h2>
          <p class="js-i a-i">My portfolio is diverse. There are landing page texts, SEO-optimized corporate blog articles, presentations, social media posts, and sales pitch.</p>
        </div>
        <div class="container nm">
          <div class="cols cases-section__items">
            <div class="cases-section__separator cols__col cols__col-s-4 cols__col-end-4 js-i a-i"></div>
            <a aria-label="case-link" href="#" class="cases-section__item cases-section__item--1 cols__col cols__col-end-3 a-i">
              <div class="img js-webgl-image hide-cursor" data-pli data-bg="./img/posters/1.jpg"></div>
            </a>
            <a aria-label="case-link" href="#" class="cases-section__item cases-section__item--2 cols__col cols__col-s-4 cols__col-end-4 a-i">
              <div class="img js-webgl-image hide-cursor" data-pli data-bg="./img/posters/2.jpg" ></div>
            </a>
            <a aria-label="case-link" href="#" class="cases-section__item cases-section__item--3 cols__col cols__col-s-5 cols__col-end-6 a-i">
              <div class="img js-webgl-image hide-cursor" data-pli data-bg="./img/posters/6.jpg"></div>
            </a>
          </div>
          <div class="cols cases-section__items">
            {{ mixins.link('more projects', 'cases-section__btn cols__col cols__col-s-4 js-i', 
            data = 'data-parallax="0.2"') }}
            <a aria-label="case-link" href="#" class="cases-section__item cases-section__item--1 cols__col cols__col-end-3 a-i m-hide">
              <div class="img js-webgl-image hide-cursor" data-pli data-bg="./img/posters/5.jpg"></div>
            </a>
            <a aria-label="case-link" href="#" class="cases-section__item cases-section__item--2 cols__col cols__col-s-4 cols__col-end-4 a-i m-hide">
              <div class="img js-webgl-image hide-cursor" data-pli data-bg="./img/posters/4.jpg"></div>
            </a>
            <a aria-label="case-link" href="#" class="cases-section__item cases-section__item--3 cols__col cols__col-s-5 cols__col-end-6 a-i m-hide">
              <div class="img js-webgl-image hide-cursor" data-pli data-bg="./img/posters/8.jpg"></div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include "partials/components/_footer.html" %}
{% endblock %}