<link rel="preload" href="./fonts/GTSuperDisplay-Light.woff2" type="font/woff" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/GTSuperDisplay-Regular.woff2" type="font/woff" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/GTSuperDisplay-RegularItalic.woff2" type="font/woff" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/PTRootUI_Light.woff2" type="font/woff" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/PTRootUI_Regular.woff2" type="font/woff" as="font" crossorigin="anonymous">