<!DOCTYPE html>
<html lang="en" class="custom">
{% set 'description' = 'Hello! Welcome to my personal website portfolio. I’m Roman Stets — a creative copywriter and project manager at the Emotion Agency, Ukrainian product company. Nice to meet you!' %}
<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#222222">
    <link rel="icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <meta name="description" content="{% if description %}{{ description }}{% else %}Template{% endif %}">
    <meta property="og:title" content="{% if title %}{{ title }}{% else %}Template{% endif %}">
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}Template{% endif %}">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicons/favicon.ico">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if title %}{{ title }}{% else %}Template{% endif %}">
    <meta name="twitter:description" content="{% if description %}{{ description }}{% else %}Template{% endif %}">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/logo72.png"/>
    <link rel="apple-touch-icon" sizes="96x96" href="img/favicons/logo96.png"/>
    <link rel="apple-touch-icon" sizes="128x128" href="img/favicons/logo128.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/logo144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/logo152.png"/>
    <link rel="apple-touch-icon" sizes="192x192" href="img/favicons/logo192.png"/>
    <link rel="apple-touch-icon" sizes="384x384" href="img/favicons/logo384.png"/>
    <link rel="apple-touch-icon" sizes="512x512" href="img/favicons/logo512.png"/>
    <meta name="twitter:image" content="img/favicons/twitter-img.png">
    <meta property="og:image" content="img/favicons/twitter-img.png">
    <link rel="sitemap" type="application/xml" href="/sitemap.xml">
    {% include "partials/_fonts-include.html" %}
    <!-- BEGIN styles -->
    <link rel="stylesheet" media="all" href="css/app.css">
    <!-- END styles -->
    <link rel="manifest" href="manifest.json" />
</head>

