.about-header {
  height: var(--vh);
  display: flex;
  align-items: center;
  position: relative;
}

#gl-torus {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.dg.ac {
  bottom: 131px !important;
  left: 0 !important;
  right: auto !important;
  top: auto !important;
}


.about-header__text {
  font-size: 0.84vw;
  order: -1;
  @include reg;
  line-height: 1.2em;
  max-width: 26.1vw;
  margin-bottom: -2.5vw;
  @include media('<=1100px') {
    font-size: 14px;
  }
  @include media('<=#{$br2}') {
    display: none !important;
  }
}

.about-header__h1 {
  line-height: 1.2em;
  font-size: 7.8vw;
}

.text-types__text {
  max-width: 17.7vw;
  @include media('<=#{$br2}') {
    max-width: none;
  }
}

.text-types__li {
  display: block;
}

.text-types__li-hr {
  width: 100%;
  height: 1px;
  background: var(--secondary);
  margin: size(40, 20) 0;
}

.text-types__cols-one {
  @include media('<=#{$br2}') {
    display: flex;
    flex-direction: column;
  }
}

.text-types__cols {
  margin-top: size(60, 12);
}

.text-types__btn {
  margin-top: -12vw;
  @include media('<=#{$br2}') {
    margin: 0 auto;
    margin-top: 40px;
  }
}

.text-types__img {
  height: 0.8em;
  img, video {
    object-position: 50% 63%;
  }
  @include media('<=#{$br2}') {
    margin-bottom: 40px;
  }
}

.partner-section__before-text {
  font-size: 1vw;
  line-height: 1em;
  margin-top: 0.6vw;
  @include reg;
  position: absolute;
  @include media('<=#{$br2}') {
    display: none !important;
  }
}

.partner-section__cols {
  margin-top: size(60, 20);
  @include media('<=#{$br2}') {
    display: flex;
    flex-direction: column-reverse;
  }
}

.partner-section__p {
  max-width: vw(340);
  @include media('<=#{$br2}') {
    max-width: none;
    margin-top: 20px;
    &--1 {
      order: 2;
      margin-top: 40px;
    }
    &--2 {
      order: 1;
    }
  }
}

.partner-section__img-parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.partner-section__img-wrapper {
  margin-top: vw(-197);
  position: relative;
  overflow: hidden;
  &::after {
    content: url('../img/about/arrow.svg');
    font-size: 0.6vw;
    position: absolute;
    bottom: 0;
    right: vw(-22);
    display: block;
    line-height: 1em;
  }
  @include media('<=#{$br2}') {
    margin-top: 40px;
    order: 3;
  }
}

.partner-section__img {
  height: 0;
  padding-bottom: 90.2%;
  transform: scale(1.08);
  width: 100%;
  @include cover();
}

.direction-section__text {
  margin-top: size(40, 32);
  max-width: vw(594);
  @include media('<=#{$br2}') {
    max-width: none;
  }
}

.direction-section__img-wrapper {
  max-width: vw(532);
  margin-top: size(48, 12);
  @include media('<=#{$br2}') {
    max-width: none;
  }
}

.direction-section__img {
  height: 0;
  padding-bottom: toimg(532, 398);
  @include cover;
  width: 100%;
}

.direction-section__list {
  margin-top: size(100, 48);
  display: flex;
  @include media('<=#{$br2}') {
    flex-direction: column;
  }
}

.direction-section__li {
  padding: 40px;
  position: relative;
  padding-bottom: 0;
  width: calc(100% / 3);
  @include media('<=#{$br2}') {
    width: 50%;
    padding: 0;
    + .direction-section__li {
      margin-top: 60px;
    }
  }
  @include media('<=#{$br3}') {
    width: 100%;
  }
}

.direction-section__li-h {
  @include media('<=#{$br2}') {
    margin-top: 12px;
  }
}

.direction-section__li-text {
  margin-top: size(40, 20);
  text-transform: uppercase;
  max-width: 92%;
  @include media('<=#{$br2}') {
    max-width: 100%;
  }
}

.direction-section__li-hr, .direction-section__li-vr {
  position: absolute;
  top: 0;
  background: var(--secondary);
}

.direction-section__li-hr {
  left: 0;
  width: 100%;
  height: 1px;
}

.direction-section__li-vr {
  right: 0;
  height: 100%;
  width: 1px;
  @include media('<=#{$br2}') {
    display: none;
  }
}

.cooperation__text {
  p {
    max-width: vw(594);
    margin-top: vw(40);
    @include media('<=#{$br2}') {
      margin-top: 12px;
      max-width: none;
    }
  }
}

.cooperation__items {
  margin-top: vw(110);
  @include media('<=#{$br2}') {
    margin-top: 40px;
  }
}

.cooperation__li {
  + .cooperation__li {
    margin-top: size(128, 40);
  } 
}
.cooperation__li-num {
  @include h;
  font-size: font-vw(48);
  display: block;
  margin-bottom: vw(28);
  @include media('<=#{$br2}') {
    margin-bottom: 8px;
    font-size: 24px;
  }
}
.cooperation__li-hr, .xp__li-hr {
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
  transition: background-color .5s ease;
}
.cooperation__li-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  @include media('<=#{$br2}') {
    flex-direction: column;
    margin-top: 16px;
  }
}
.cooperation__li-text {
  text-transform: uppercase;
  max-width: vw(594);
  @include media('<=#{$br2}') {
    margin-top: 20px;
    max-width: none;
  }
}

.skills__items {
  margin-top: vw(64);
  display: grid;
  grid-template-columns: repeat(4, 23.85417vw);
  @include media('<=#{$br2}') {
    display: block;
  }
}

.skills__li {
  width: vw(458);
  height: vw(458);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--secondary);
  border-radius: 50%;
  transition: border-color .5s ease;
  @include media('<=#{$br2}') {
    width: 335px;
    height: 335px;
  }
  &--1 {
    border-color: transparent;
    background: var(--acc);
    color: white;
    position: relative;
    transition: background .5s ease;
    span {
      display: block;
      position: absolute;
      text-align: end;
      left: vw(262);
      top: 10vw;
      font-size: font-vw(14);
      @include media('<=#{$br2}') {
        font-size: 12px;
        top: 136px;
        left: 194px;
      }
    }
  }
  &--5, &--6 {
    @include media('>=#{$br2}') {
      margin-left: vw(229);
      margin-top: vw(-62);
    }
  }
}

.xp__items {
  margin-top: size(100, 40);
}

.xp__li {
  position: relative;
  + .xp__li {
    margin-top: size(100, 60);
  }
}

.xp__li-h {
  text-transform: uppercase;
  margin-bottom: size(18, 6);
}

.xp__li--1 {
  .xp__li-timeline-item {
    left: vw(837);
    @include media('<=#{$br3}') {
      left: vw(514);
    }
  }
}

.xp__li--2 {
  .xp__li-timeline-item {
    left: vw(1282);
    @include media('<=#{$br3}') {
      left: vw(694);
    }
  }
}

.xp__li--3 {
  .xp__li-timeline-item {
    left: 0;
  }
}

.xp__li-timeline {
  width: 100%;
  margin-top: size(-10, -5);
}

.xp__li-timeline-item {
  display: flex;
  position: absolute;
  flex-direction: column;
  &--end {
    left: auto;
    right: 0;
    align-items: flex-end;
  }
}


.xp__li-timeline-item-dot {
  width: size(20, 10);
  height: size(20, 10);
  background: var(--acc);
  border-radius: 50%;
}