.about-header {
  height: var(--vh);
  display: flex;
  align-items: center;
  position: relative;
}

#gl-torus {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.dg.ac {
  bottom: 131px !important;
  left: 0 !important;
  right: auto !important;
  top: auto !important;
}


.about-header__text {
  font-size: 0.84vw;
  order: -1;
  @include reg;
  line-height: 1.2em;
  max-width: 26.1vw;
  margin-bottom: -2.5vw;
  @include media('<=1100px') {
    font-size: 16px;
  }
}

.about-header__h1 {
  line-height: 1.2em;
  font-size: 7.8vw;
}

.text-types__text {
  max-width: 17.7vw;
}

.text-types__li {
  display: block;
}

.text-types__li-hr {
  width: 100%;
  height: 1px;
  background: var(--secondary);
  margin: 40px 0;
}

.text-types__cols {
  margin-top: size(60, 12);
}

.text-types__btn {
  margin-top: -12vw;
}

.text-types__img {
  height: 0.8em;
  img, video {
    object-position: 50% 63%;
  }
}

.partner-section__before-text {
  font-size: 1vw;
  line-height: 1em;
  margin-top: 0.6vw;
  @include reg;
  position: absolute;
}

.partner-section__cols {
  margin-top: size(60, 20);
}

.partner-section__p {
  max-width: vw(340);
}

.partner-section__img-parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.partner-section__img-wrapper {
  margin-top: vw(-197);
  position: relative;
  overflow: hidden;
  &::after {
    content: url('../img/about/arrow.svg');
    font-size: 0.6vw;
    position: absolute;
    bottom: 0;
    right: vw(-22);
    display: block;
    line-height: 1em;
  }
}

.partner-section__img {
  height: 0;
  padding-bottom: 90.2%;
  transform: scale(1.08);
  width: 100%;
  @include cover();
}

.direction-section__text {
  margin-top: size(40, 32);
  max-width: vw(594);
}

.direction-section__img-wrapper {
  max-width: vw(532);
  margin-top: size(48, 12);
}

.direction-section__img {
  height: 0;
  padding-bottom: toimg(532, 398);
  @include cover;
  width: 100%;
}

.direction-section__list {
  margin-top: size(100, 48);
  display: flex;
}

.direction-section__li {
  padding: 40px;
  position: relative;
  padding-bottom: 0;
  width: calc(100% / 3);
}

.direction-section__li-h {
  font-size: font-vw(72);
  @include h;
  line-height: 1em;
}


.direction-section__li-text {
  margin-top: size(40, 20);
  text-transform: uppercase;
  max-width: 92%;
}

.direction-section__li-hr, .direction-section__li-vr {
  position: absolute;
  top: 0;
  background: var(--secondary);
}

.direction-section__li-hr {
  left: 0;
  width: 100%;
  height: 1px;
}

.direction-section__li-vr {
  right: 0;
  height: 100%;
  width: 1px;
}