.case-header {
  position: relative;
  @include media('>=#{$br2}') {
    height: var(--vh);
  }
  @include media('<=#{$br2}') {
    padding-top: 90px;
  }
}
.case-header__container {
  height: 100%;
  display: flex;
  @include media('<=#{$br2}') {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.case-header__text {
  @include media('>=#{$br2}') {
    max-width: vw(265);
  }
  @include media('<=#{$br2}') {
    margin: 0 auto;
    margin-top: 24px;
    max-width: 80%;
  }
}

.case-header__strips {
  position: absolute;
  @include media('>=#{$br2}') {
    top: 29%;
  }
  @include media('<=#{$br2}') {
    bottom: 60px;
  }
}

.case-header__cols {
  @include media('>=#{$br2}') {
    margin-top: vw(580);
  }
  @include media('<=#{$br2}') {
    text-align: center;
  }
}

.case-header__btn-wrapper {
  position: relative;
  @include media('>=#{$br2}') {
    top: vw(-45);
  }
  @include media('<=#{$br2}') {
    margin: 0 auto;
    width: fit-content;
    margin-top: 30px;
  }
}

@mixin case-img {
  width: vh(594);
  .img {
    max-width: 100%;
    background-color: #fff;
    @include cover;
    height: 0;
  }
}

.case-header__img-wrapper {
  width: vh(594);
  @include case-img;
  .img {
    padding-bottom: toimg(594, 849);
  }
  @include media('>=#{$br2}') {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  @include media('<=#{$br2}') {
    position: relative;
    margin: 0 auto;
  }
  @include media('<=#{$br3}') {
    width: 67%;
  }
}

.e-magic-section {
  height: 180vh;
  @include media('<=#{$br3}') {
    height: 120vh;
  }
}

.e-magic-section__container {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.case-text {
  width: vw(537);
  margin-top: size(48, 24);
  @include media('<=#{$br2}') {
    width: size(537, 335);
  }
}

.next-case__img-wrapper {
  @include case-img;
  justify-self: end;
  width: vw(366);
  align-self: right;
  .img {
    padding-bottom: toimg(366, 519);
  }
  @include media('<=#{$br2}') {
    margin: 0 auto;
    width: 40%;
  }
  @include media('<=#{$br4}') {
    margin: 0 auto;
    width: 100%;
  }
}

.next-case {
  height: var(--vh);
}

.next-case__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

.next-case__cols {
  position: relative;
  margin-top: size(80, 40);
  margin-bottom: size(80, 40);
}

.line {
  width: 100%;
  height: 1px;
  background: var(--secondary);
}

.next-case__separator {
  width: 1px;
  height: 26.66vw;
  margin-top: -1vw;
  background: var(--secondary);
  @include bt;
  transform: rotate(20deg);
  transform-origin: bottom;
  position: absolute;
  @include media('<=#{$br2}') {
    display: none;
  }
}

.next__case-h2-wrapper {
  position: absolute;
  top: 18vw;
  width: fit-content;
  @include media('<=#{$br2}') {
    display: none;
  }
}

.next__case-h2-num {
  display: block;
  font-size: font-vw(24);
  @include reg;
  line-height: 1em;
  position: absolute;
  right: -2em;
  top: 0;
}

.next__case-h2 {
  @include h;
  font-size: font-vw(231);
  line-height: 1em;
  display: block;
}

.next-case__btn {
  @include media('<=#{$br2}') {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
