.cases-header {
  position: relative;
  height: var(--vh);
}

.cases-header__cases {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-top: vw(50);
}


.cases-header__item {
  width: size(330, 167);
  height: size(472, 240);
  background: black;
  display: block;
  + .cases-header__item {
    margin-top: size(100, 50);
  }
  @include cover;
}

.cases-header__strips {
  width: fit-content;
  display: flex;
  align-items: center;
}

.cases-header__strip {
  display: flex;
  align-items: center;
  width: fit-content;
}

.cases-header__strip-item {
  font-size: font-vw(160);
  @include h;
  line-height: 1em;
  white-space: nowrap;
  display: flex;
  align-items: center;
  transition: opacity .5s ease;
  span {
    display: inline-block;
  }
  &.hidden {
    opacity: 0.4;
  }
  @include media('<=#{$br3}') {
    font-size: size(160, 44);
  }
}

.cases-header__strip-item-num {
  @include reg;
  font-size: vw(21);
  line-height: 1em;
  position: relative;
  top: vw(-10);
  margin-left: vw(48);
  margin-right: vw(48);
  width: size(84, 36);
  height: size(84, 36);
  svg {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    fill: var(--secondary);
  }
  @include media('<=#{$br2}') {
    font-size: 9px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.case-num__num {
  @include vcenter(absolute);
}

.cases-header__imgs-wrapper {
  width: vw(467);
  height: vw(668);
  @include vcenter(absolute);
  @include media('<=#{$br3}') {
    width: 283px;
    height: 405px;
  }
}

.cases-header__img {
  width: vw(467);
  height: vw(668);
  @include cover;
  position: absolute;
  @include media('<=#{$br3}') {
    width: 283px;
    height: 405px;
    pointer-events: none;
  }
}

.cases-header__scroll-down {
  width: size(142, 91);
  height: size(142, 91);
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  svg {
    max-width: 100%;
    display: block;
    height: 100%;
    width: 100%;
    fill: var(--secondary);
  }
}

.cases-header__scroll-down-item--mob {
  display: none;
  @include media('<=#{$br2}') {
    display: block;
  }
}

.cases-header__scroll-down-item--desc {
  @include media('<=#{$br2}') {
    display: none;
  }
}
