.home-header {
  height: 100vh;
  width: 100%;
  position: relative;
}

.home-header__container {
  display: flex;
  align-items: center;
  padding-top: 60px;
  height: 100%;
}

.home-header__h1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.h1-withcols__line {
  overflow: hidden;
  perspective: 1000px;
  padding-right: 18px;
  .char {
    display: inline-block;
    transform: translateY(110%) rotateX(-60deg);
  }
  &--second-line {
    white-space: nowrap;
    margin-left: -0.3vw;
  }
  &--fourth-line {
    width: fit-content;
    position: relative;
    a {
      display: inline-block;
      position: relative;
      &::after {
        // content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--secondary);
        opacity: 0.2;
        position: absolute;
        bottom: 1.8vw;
        left: 0;
        right: auto;
        transition: width 0.7s ease;
      }
      &:hover {
        &::after {
          left: auto;
          width: 0;
          right: 0;
        }
      }
    }
  }
}

.h1-withcols__img {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 1em;
  position: relative;
  cursor: pointer;
  transform: translateY(100%);
  opacity: 0;
  display: inline-block;
  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.h1-img__text {
  @include reg;
  font-size: 0.8vw;
  line-height: 1em;
  text-transform: none;
  transform: translateY(-50%) rotate(-90deg);
  position: absolute;
  right: -4vw;
  top: 50%;
}

.positioning-section__p {
  max-width: 17.85vw;
  &--long {
    max-width: 20.312vw;
  }
}

.positioning-section__cols {
  margin-top: size(60, 40);
  grid-auto-rows: 5.46875vw;
}

.positioning-section__btn {
  position: absolute;
  z-index: 10;
}

.phiposophy-section__items {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 30vw 22.14vw 42vw;
  grid-auto-rows: 29.427vw;
}

.phiposophy-section__item {
  border-radius: 50%;
  border: 1px var(--secondary) solid;
  padding-left: 55px;
  padding-right: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: border-color 0.5s ease;
  // position: absolute;
  &--first {
    width: 31vw;
    height: 31vw;
  }
  &--second {
    width: 26.14vw;
    height: 26.14vw;
    padding: 0 79px;
    margin-top: 9.84375vw;
  }
  &--third {
    width: 30.6vw;
    height: 30.6vw;
    padding: 0 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 9.73958vw;
  }
  &--fourth {
    width: 42vw;
    height: 42vw;
    padding: 0 57px;
    margin-top: 17.9375vw;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
  }
}

.phiposophy-section__h2-container {
  position: absolute;
  left: 0;
}

.join-section__p {
  max-width: 19.375vw;
  &--long {
    max-width: 28.96vw;
  }
}

.section__line {
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
  margin-bottom: 50px;
  transition: background 0.6s ease;
}

.join-section__cols {
  margin-top: -15vw;
}

.join-section__btn-cols {
  margin-top: 8.07vw;
}

.cases-section__line {
  margin-bottom: 30px;
}

.cases-section__text {
  max-width: 38.8vw;
  position: absolute;
  p {
    margin-top: 1.1vw;
    max-width: 31vw;
  }
}

.cases-section__item {
  display: block;

  img {
    display: block;
    max-width: 100%;
  }
  &--1 {
    margin-top: 26.4vw;
  }
  &--2 {
    margin-top: 39.1vw;
    max-width: 72%;
  }
}

.cases-section__items {
  position: relative;
}

.cases-section__separator {
  width: 1px;
  height: 26.66vw;
  background: var(--secondary);
  @include bt;
  transform: rotate(20deg);
  transform-origin: bottom;
  position: absolute;
}

.cases-section__btn {
  position: absolute;
}
