.home-header {
  height: var(--vh);
  width: 100%;
  position: relative;
}

.home-header__container {
  display: flex;
  align-items: center;
  padding-top: 60px;
  height: 100%;
}

.home-header__h1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.h1-withcols__line {
  perspective: 1000px;
  padding-right: 18px;
  @include media('<=#{$br2}') {
    padding-right: 0px;
  }
  &--second-line {
    white-space: nowrap;
    margin-left: -0.3vw;
  }
  &--fourth-line {
    width: fit-content;
    position: relative;
    a {
      display: inline-block;
      position: relative;
      &::after {
        // content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--secondary);
        opacity: 0.2;
        position: absolute;
        bottom: 1.8vw;
        left: 0;
        right: auto;
        transition: width 0.7s ease;
      }
      &:hover {
        &::after {
          left: auto;
          width: 0;
          right: 0;
        }
      }
    }
  }
}

.h1-withcols__img {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 1em;
  position: relative;
  cursor: pointer;
  display: inline-block;
  
}


.inline-img {
  &:hover {
    z-index: 1000;
    position: relative;
    .inline-img__img--1 {
        opacity: 0
    }
    .inline-img__img--2 {
        opacity: 1;
        width: 31.25vw;
        height: 31.25vw;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        top: 50%;
      }
    }
  }


.inline-img__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  &--2 {
    position: absolute;
    top: 0;
    opacity: 0;
  }
}

.h1-img__text {
  @include reg;
  font-size: 0.8vw;
  line-height: 1em;
  text-transform: none;
  transform: translateY(-50%) rotate(-90deg);
  position: absolute;
  right: -4vw;
  top: 50%;
  @include media('<=1100px') {
    display: none;
  }
}

.positioning-section__p {
  max-width: 17.85vw;
  &--long {
    max-width: 20.312vw;
  }
  @include media('<=#{$br2}') {
    max-width: 50%;
    &--long {
      max-width: inherit;
    }
    + .positioning-section__p {
      margin-top: 20px;
    }
  }
  @include media('<=#{$br3}') {
    max-width: 100%;
  }
}

.positioning-section__cols {
  margin-top: size(60, 20);
  grid-auto-rows: 5.46875vw;
}

.positioning-section__btn {
  margin: 0 auto;
  margin-top: 40px;
  order: 3;
  @include media('>=#{$br2}') {
    position: absolute;
    z-index: 10;
    margin: 0px;
  }
}

.positioning-section__container {
  @include media('<=#{$br2}') {
    display: flex;
    flex-direction: column;
  }
}

.phiposophy-section__items {
  width: 100%;
  position: relative;
  margin-top: 40px;
  @include media('>=#{$br2}') {
    display: grid;
    grid-template-columns: 30vw 22.14vw 42vw;
    grid-auto-rows: 29.427vw;
    margin-top: 0px;
  }
}

.phiposophy-section__item {
  border-radius: 50%;
  border: 1px var(--secondary) solid;
  padding-left: 55px;
  padding-right: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: border-color 0.5s ease;
  @include media('<=#{$br2}') {
    width: 335px;
    height: 335px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
  }
  @include media('>=#{$br2}') {
    &--first {
      width: 31vw;
      height: 31vw;
    }
    &--second {
      width: 26.14vw;
      height: 26.14vw;
      padding: 0 4.16vw;
      margin-top: 9.84375vw;
    }
    &--third {
      width: 30.6vw;
      height: 30.6vw;
      padding: 0 2.6vw;
      grid-column-start: 1;
      grid-column-end: 2;
      margin-left: 9.73958vw;
    }
    &--fourth {
      width: 42vw;
      height: 42vw;
      padding: 0 3vw;
      margin-top: 17.9375vw;
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
    }
  }
}

.phiposophy-section__h2-container {
  @include media('>=#{$br2}') {
    position: absolute;
    left: 0;
  }
}

.join-section__p {
  max-width: 19.375vw;
  &--long {
    max-width: 28.96vw;
  }
  @include media('<=#{$br2}') {
    max-width: 50%;
    &--long {
      max-width: inherit;
    }
    + .join-section__p {
      margin-top: 20px;
    }
  }
  @include media('<=#{$br3}') {
    max-width: 100%;
  }
}

.mob-img-c {
  display: block;
  width: 100%;
  .h1-withcols__img {
    width: 100%;
    height: 1.5em;
  }
}

.section__line {
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
  margin-bottom: 50px;
  transition: background 0.6s ease;
  @include media('<=#{$br2}') {
    margin-bottom: 12px;
  }
}

.join-section__cols {
  margin-top: -15vw;
  @media screen and (max-height: 680px) and (orientation: landscape) {
    margin-top: -13.8vw;
  }
  @include media('<=#{$br2}') {
    margin-top: 20px;
  }
}

.join-section__btn-cols {
  margin-top: 8.07vw;
  @include media('<=#{$br2}') {
    margin-top: 40px;
  }
}

.join-section__btn {
  @include media('<=#{$br2}') {
    margin: 0 auto;
  }
}

.cases-section__line {
  margin-bottom: 30px;
  @include media('<=#{$br2}') {
    display: none;
  }
}

.cases-section__text {
  max-width: 38.8vw;
  position: absolute;
  p {
    margin-top: 1.1vw;
    max-width: 31vw;
  }
  @include media('<=#{$br2}') {
    max-width: none;
    position: static;
    p {
      max-width: none;
      margin-top: 20px;
    }
  }
}

.cases-section__item {
  display: block;
  img {
    display: block;
    max-width: 100%;
  }
  @include media('>=#{$br2}') {
    &--1 {
      margin-top: 26.4vw;
    }
    &--2 {
      margin-top: 39.1vw;
      max-width: 72%;
    }
  }
  @include media('<=#{$br2}') {
    margin-top: 40px;
    &.m-hide {
      display: none;
    }
  }
}

.cases-section__items {
  position: relative;
  @include media('<=#{$br2}') {
    display: flex;
    flex-direction: column;
  }
}

.cases-section__separator {
  width: 1px;
  height: 26.66vw;
  background: var(--secondary);
  @include bt;
  transform: rotate(20deg);
  transform-origin: bottom;
  position: absolute;
  @include media('<=#{$br2}') {
    display: none;
  }
}

.cases-section__btn {
  @include media('>=#{$br2}') {
    position: absolute;
  }
  @include media('<=#{$br2}') {
    order: 7;
    margin: 0 auto;
    margin-top: 40px;
  }
}

.h2-withcols__img {
  @include media('<=#{$br2}') {
    display: inline-block;
    height: 1.5em;
  }
}
