{% set 
services = [
	{
		heading: 'Организация перевозок',
		desc: "Перевезём любое количество груза ЖД-транспортом, избегая дополнительных перегрузок в пути следования. Помогаем компаниям и предприятиям экономить на транспортировке грузов.",
		img: './img/services/1.jpg'
	},
	{
		heading: 'Аренда вагонов',
		desc: "Предоставляем вагоны в аренду компаниям и предприятиям, которые не хотят зависеть от экспедитора. Если у вас стабильный объём перевозок — аренда вагонов поможет достигнуть транспортной независимости.",
		img: './img/services/2.jpg'
	},
	{
		heading: 'Ремонт вагонов',
		desc: "Организовываем ремонт ваших вагонов в наших депо. Восстанавливаем и подготавливаем к работе подвижной состав. Также продаём запасные части — у нас можно купить нужную деталь в любом количестве.",
		img: './img/services/3.jpg'
	}
] 
%}

{% set 
advantages = [
	{
		heading: 'Быстро',
		desc: "Грузовые ЖД-перевозки — самый быстрый способ перевезти большое количество груза сухопутным путём. "
	},
	{
		heading: 'Выгодно',
		desc: "При перевозках на средние и дальние расстояния, железнодорожные перевозки дешевле автомобильных."
	},
	{
		heading: 'Удобно',
		desc: "Все услуги в одном месте: от полного сопровождения любого этапа организации перевозок до отслеживания груза."
	},
	{
		heading: 'Безопасно',
		desc: "Ваш груз в безопасности: мы используем программное обеспечение, чтобы отслеживать, где находится груз. "
	},
	{
		heading: 'Понятно',
		desc: "Вам не нужно разбираться в сложной документации и договариваться с железной дорогой — мы уже всё подготовили."
	}
] 
%}