.btn {
  width: 13.54vw;
  height: 13.54vw;
  @include h;
  color: white;
  font-size: 0.9vw;
  position: relative;
  padding: 10px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media('>=#{$br2}') {
    &:hover {
      .btn__circle-overlay {
        transform: translateY(0%);
      }
    }
  }

  @include media('<=#{$br2}') {
    width: size(260, 210);
    height: size(260, 210);
    font-size: 16px;
  }
}

.btn__circle {
  width: 100%;
  height: 100%;
  background-color: $accent;
  display: block;
  border-radius: 50%;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: background 0.5s ease;
}

.btn__circle-overlay {
  width: 100%;
  height: 100%;
  display: block;
  background: $accent3;
  opacity: 0.7;
  border-radius: 40%;
  transition: transform 1s $easing, background 0.5s ease;
  transform: translateY(110%);
  z-index: -1;
  @include media('<=#{$br2}') {
    display: none;
  }
}

.btn__text {
  display: block;
  line-height: 1em;
  width: 100%;
  text-align: center;
}

[data-theme='e-black'] {
  .btn__circle {
    background: $accent2;
  }
  --accent3: linear-gradient(179.9deg, #2e54b7 -9.86%, #a04af7 99.91%);
}
