.navbar {
  position: absolute;
  top: 36px;
  z-index: 100;
  width: 100%;
  &::before {
    content: '';
    display: block;
    width: calc(100% - var(--g-offset) * 2);
    height: 2px;
    background-color: var(--secondary);
    margin: 0 auto;
    transition: background .6s ease;
  }
}

.navbar__container {
  padding-top: 4px;
  display: flex;
  align-items: baseline;
  // justify-content: space-between;
}

.navbar__text {
  font-size: size(20, 16);
  line-height: 1em;
}

.navbar__menu {
  @include hreg;
  font-size: size(20, 16);
  line-height: 1em;
  color: inherit;
}

.navbar__right-items {
  display: flex;
  justify-content: space-between;
}

.navbar__cols {
  align-items: baseline;
}

.navbar__logo {
  svg {
    fill: var(--secondary);
    transition: fill .6s ease;
    max-width: 100%;
  }
}