.nav-hidden {
  .navbar {
    opacity: 0;
    transform: translateY(-60px);
  }
}

.navbar {
  position: absolute;
  top: 0;
  padding-top: 36px;
  padding-bottom: 16px;
  z-index: 100;
  width: 100%;
  background-color: var(--primary2);
  transition: opacity .25s ease, transform .25s ease, background .5s ease;
  &::before {
    content: '';
    display: block;
    width: calc(100% - var(--g-offset) * 2);
    height: 2px;
    background-color: var(--secondary);
    margin: 0 auto;
    @include bt;
  }
  &.remove-bg {
    background-color: transparent;
  }
}

.navbar__container {
  padding-top: 4px;
  display: flex;
  align-items: baseline;
  // justify-content: space-between;
}

.navbar__text {
  font-size: 1.1vw;
  line-height: 1em;
}

.navbar__menu {
  @include hreg;
  font-size: 0.9em;
  line-height: 1em;
  color: inherit;
  display: flex;
  position: relative;
  align-items: center;
  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--secondary);
    margin-right: 10px;
    margin-top: -0.3vw;
    opacity: 0;
    transform: translateX(15px) scale(0.1);
    transition: opacity .4s ease, transform .4s ease;
  }
  &:hover {
    &::before {
      opacity: 1;
      transform: translateX(0px) scale(1);
    }
  }
}

.navbar__right-items {
  display: flex;
  justify-content: space-between;
}

.navbar__cols {
  align-items: baseline;
}

.navbar__logo {
  svg {
    fill: var(--secondary);
    transition: fill .6s ease;
    max-width: 100%;
  }
}

.js-nav-close {
  // position: absolute;
  // top: 0;
  // right: 0;
  display: none;
}