.strips {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.strip {
  width: 120%;
  padding-top: 1.7vw;
  display: flex;
  position: relative;
  z-index: 2;
  &--white {
    background-color: white;
    color: $black;
    transform: rotate(-7deg);
  }
  &--2 {
    background-color: #E0E0E0;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%) rotate(8deg);
    justify-content: flex-end;
  }
  &--blue {
    color: $accent;
  }
  &--purple {
    color: #AB32D6;
  }
  @include media('<=#{$br2}') {
    padding-top: 24px;
    padding-bottom: 16px;
  }
}

.strip__wrapper {
  display: flex;
  width: fit-content;
}
.strip__item {
  font-size: 8.33vw;
  @include h;
  line-height: 1em;
  white-space: nowrap;
  @media screen and (max-height: 680px) and (orientation: landscape) {
    font-size: 7.33vw;
  }
  @include media('<=#{$br2}') {
    font-size: size(160, 36);
  }
}