body {
  --primary: white;
  --primary2: var(--lg);
  --secondary: var(--black);
  --acc: var(--accent);
}

[data-theme='e-black'] {
  --primary: var(--black);
  --primary2: var(--black);
  --secondary: white;
  --acc: var(--accent2);
  background-color: var(--primary);
  .theme-btn {
    background-color: $lg;
  }
}

.theme-btn {
  width: size(30, 24);
  height: size(30, 24);
  border-radius: 50%;
  background-color: $black;
  position: fixed;
  right: $g-offset;
  bottom: size(36, 20);
  transition: background 0.5s ease,
    transform 0.5s cubic-bezier(0.17, 0.67, 0.3, 1.33), opacity 0.5s ease;
  z-index: 100;
  &:hover {
    transform: scale(1.1);
  }
  &.disabled {
    opacity: 0 !important;
    transform: scale(0.5);
  }
}

.theme-overlay {
  position: fixed;
  width: 30px;
  height: 30px;
  right: $g-offset;
  bottom: 36px;
  border-radius: 50%;
  z-index: -1;
  &--black {
    background-color: $black;
  }
  &--white {
    background-color: $lg;
  }
}
