{% set route = "case" %}
{% extends "layouts/_layout.html" %}
{% import "data/data.html" as items %}

{% set item = items.cases[index - 1] %}

{% if items.cases[index] %}
  {% set nextCase = items.cases[index] %}
{% else %}
  {% set nextCase = items.cases[0] %}
{% endif %}

{% set title = item.title %}
{% set 'strip' = item.strip %}
{% set 'img' = item.img %}

{% set 'description' = item.description %}
{% set 'color' = item.color %}
{% set 'secColor' = item.secColor %}
{% set 'link' = item.link %}
{% set 'task' = item.task %}
{% set 'solution' = item.solution %}

{% block content %}
  <div style="--accent: {{color|safe}};--accent2: {{color|safe}}; --accent3: {{secColor|safe}}" class="case-layout">
    <header  data-visible="hide" class="case-header">
      {{mixins.strips(strip|safe, 'blue', 'case-header__strips')}}
      <div class="container case-header__container">
        <div class="cols case-header__cols">
          <div class="case-header__img-wrapper cols__col cols__col-end-3">
            <div class="img js-webgl-image" style="opacity:0" data-pli data-bg="{{img}}"></div>
          </div>
          <p class="case-header__text cols__col cols__col-s-4 js-i">{{description}}</p>
          <div class="case-header__btn-wrapper cols__col cols__col-s-5">
            {{ mixins.link('view the result', 'case-header__btn js-i', href=item.link, data="target='_blank' rel='noopener noreferrer'") }}
          </div>
        </div>
      </div>
    </header>

    <section data-scroll class='section e-magic-section'>
      <div class='container section__container e-magic-section__container'>
        <h2 data-e-magic="0.8" class="h2 js-l">Task</h2>
        <p data-e-magic="0.9" class="case-text js-i">{{task|safe}}</p>
      </div>
    </section>
    <section data-scroll class='section e-magic-section'>
      <div class='container section__container e-magic-section__container'>
        <h2 data-e-magic="0.8" class="h2 js-l">Solution</h2>
        <p data-e-magic="0.9" class="case-text js-i">{{solution|safe}}</p>
      </div>
    </section>
    <section class='section next-case'>
      <div class='container section__container next-case__container'>
        <div class="line next-case__line js-hr"></div>
        <div class="cols next-case__cols">
          {{ mixins.link('next case', href=nextCase.page + '.html', 'next-case__btn cols__col cols__col-end-3 js-i', "data-transition='distort'") }}
          <div class="next__case-h2-wrapper cols__col cols__col-end-5">
            <h2 class="next__case-h2 js-l">{{nextCase.title}}</h2>
            <span class="next__case-h2-num js-i">0{{nextCase.index}}</span>
          </div>
          <div data-index="1" class="next-case__img-wrapper cols__col cols__col-s-5 cols__col-end-6">
            <div class="img js-webgl-image hide-cursor" data-pli data-bg="{{nextCase.img}}"></div>
          </div>
        </div>
        <div class="line next-case__line js-hr"></div>
      </div>
    </section>
  </div>
{% endblock %}