{% include "../partials/_head.html" %}
{% import "partials/_mixins.html" as mixins %}
{% import "data/data.html" as items %}
<body class="loading">
  <noscript>
    <div class="js-enable">Please enable JavaScript to view this website.</div>
  </noscript>
  <!-- BEGIN content -->
  {% include "partials/components/_navbar.html" %}
  {% include "partials/components/_nav.html" %}
  {% include "partials/components/_loader.html" %}
  {% include "partials/components/_form.html" %}
  {% include "partials/components/_form-thankyou.html" %}
  <div id="scroll-container" class="site-wrapper" data-router-wrapper>
    <div data-router-view="{% if route %}{{ route }}{% else %}Template{% endif %}">
      {% block content %}{% endblock %}
      <!-- END content -->
    </div>
  </div>
  <div id="gl"></div>
  <button aria-label="Change color theme" class="theme-btn js-ui-load hide-cursor">
    <span class="theme-btn__circle"></span>
    <span class="theme-btn__text theme-btn__text--darken">darken</span>
    <span class="theme-btn__text theme-btn__text--lighten">lighten</span>
  </button>
  <!-- BEGIN scripts -->
    <script src="./js/vendors~app.e1607162677450.js"></script> 
    <script src="./js/app.e1607162677450.js"></script>
    <!-- END scripts -->
</body>
</html>