{% include "../partials/_head.html" %}
{% import "partials/_mixins.html" as mixins %}
<body>
  <!-- BEGIN content -->
  {% include "partials/components/_navbar.html" %}
  {% include "partials/components/_nav.html" %}
  {% include "partials/components/_loader.html" %}
  {% include "partials/components/_form.html" %}
  {% include "partials/components/_form-thankyou.html" %}
  
  <div id="scroll-container" class="site-wrapper custom" data-router-wrapper>
    <div id="scroller" data-router-view="{% if route %}{{ route }}{% else %}Template{% endif %}">
      {% block content %}{% endblock %}
      <!-- END content -->
    </div>
  </div>
  <button aria-label="Change color theme" class="theme-btn js-ui-load"></button>
  <!-- BEGIN scripts -->
  <script src="./js/app.js"></script>
  <!-- END scripts -->

</body>
</html>