@mixin h1() {
  font-size: 8.33vw;
  @include h;
  line-height: 1.1em;
  @media screen and (max-height: 680px) and (orientation: landscape) {
    font-size: 7.33vw;
  }
  @include media('<=#{$br2}') {
    font-size: size(160, 35) !important;
  }
}

@mixin h2() {
  font-size: 7.25vw;
  @include h;
  line-height: 1.05em;
  @media screen and (max-height: 680px) and (orientation: landscape) {
    font-size: 7vw;
  }
  @include media('<=#{$br2}') {
    font-size: size(140, 36) !important;
  }
}


.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  font-size: font-vw(72);
  @include h;
  line-height: 1em;
}



.it {
  @include hi;
}

.h2-withcols__img {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 1em;
  position: relative;
  img, video {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50% 35%;
  }
}