.container {
  padding-left: $g-offset;
  padding-right: $g-offset;
  width: 100%;
  position: relative;
  display: block;
  &.nm {
    padding-left: 0;
    padding-right: 0;
  }
}

.section__container {
  padding-top: size(300, 100);
  height: 100%;
  &.last {
    padding-bottom: size(300, 100);
  }
}

.cols {
  display: grid;
  width: 100%;
  grid-template-columns: 7.06% 32.28% 6.08% 24.29% 30.29%;
  grid-auto-flow: column;
  @include media('<=#{$br2}') {
    display: block;
  }
}

.cols__col {
  display: block;
  grid-column-start: 1;
  grid-column-end: 6;
}

h1, h2 {
  .cols__col {
  @include media('<=#{$br2}') {
    display: inline;
  }
}
}

.cols__col-1 {
  grid-column-start: 1;
  grid-column-end: 1;
}

.cols__col-2 {
  grid-column-start: 2;
  grid-column-end: 2;
}

.cols__col-3 {
  grid-column-start: 3;
  grid-column-end: 3;
}

.cols__col-4 {
  grid-column-start: 4;
  grid-column-end: 4;
}

.cols__col-5 {
  grid-column-start: 5;
  grid-column-end: 5;
}

.cols__col-s-2 {
  grid-column-start: 2;
}
.cols__col-s-3 {
  grid-column-start: 3;
}
.cols__col-s-4 {
  grid-column-start: 4;
}
.cols__col-s-5 {
  grid-column-start: 5;
}
.cols__col-s-6 {
  grid-column-start: 6;
}

.cols__col-end-2 {
  grid-column-end: 2;
}
.cols__col-end-3 {
  grid-column-end: 3;
}
.cols__col-end-4 {
  grid-column-end: 4;
}
.cols__col-end-5 {
  grid-column-end: 5;
}
.cols__col-end-6 {
  grid-column-end: 6;
}
