* {
  &::selection {
    color: white;
    background: $accent;
  }
}

body {
  @include reg;
  color: $black;
  line-height: 1.5em;
  font-size: size(24, 18);
  // height: 100vh;
  // overflow: hidden;
  background: $lg;
}

button {
  background-color: transparent;
  outline: none;
}

.theme-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $black;
  position: fixed;
  right: $g-offset;
  bottom: 36px;
}