* {
  &::selection {
    color: white;
    background: $accent;
  }
}

body {
  @include reg;
  color: var(--secondary);
  line-height: 1.5em;
  font-size: 1.25vw;
  // height: 100vh;
  // overflow: hidden;
  background-color: $lg;
  position: relative;
  transition: background 1s ease, color 1s ease;
}

button {
  background-color: transparent;
  outline: none;
}



.js-sticky-area {
  width: 140%;
  height: 140%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}